
.App {
  background-color: #212d40;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}


ol{
  padding: 0;
}
ol>li{
  list-style-type: none;
}