.App {
  background-color: #364958;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container {
  max-width: 400px;
  width: 90%;
}

#calc {
  font-family: 'Quicksand', sans-serif;
  background-color: rgba(0, 0, 0, 0);
  color: #e8ddb5;
  text-align: right;
  position: relative;
  z-index: 1;
}

.pads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.interface {
  position: relative;
  overflow: hidden;
}

.pads--numbers {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pads--operations {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

button {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #e8ddb5;
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  padding: 0.8em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

button::before {
  content: '';
  z-index: -1;
  -webkit-clip-path: circle(0% at 50% 50%);
          clip-path: circle(0% at 50% 50%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  background: #5e8a85;
}

button:active::before {
  -webkit-clip-path: circle(30%);
          clip-path: circle(30%);
  opacity: 1;
  -webkit-animation: highlight-button 100ms ease-in-out;
          animation: highlight-button 100ms ease-in-out;
  -webkit-transition: all 100s ease-in-out;
  transition: all 100s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  button:hover::before {
    -webkit-clip-path: circle(30%);
            clip-path: circle(30%);
    opacity: 1;
    cursor: pointer;
  }
}

.pads--numbers > button {
  width: 33.33%;
  color: #e8ddb5;
}

.pads--operations > button {
  color: #ff9b54;
  font-weight: 500;
  width: 50%;
}

#clear {
  color: #e8ddb5;
}

#decimal {
  color: #ff9b54;
  font-weight: 700;
}

#zero {
  width: 66.66%;
}

#zero:hover::before {
  -webkit-clip-path: circle(20%);
          clip-path: circle(20%);
}

#output {
  padding: 0.5rem;
  overflow: hidden;
}

#display {
  font-size: 1.8rem;
}

#expression {
  font-size: 0.8rem;
  height: 1em;
  color: #b2c9ab;
  word-wrap: break-word;
}

.nav {
  color: #b2c9ab;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 3px solid #ff9b54;
}

.nav__calc {
  padding-left: 0.5rem;
}

.nav__calc:hover {
  cursor: pointer;
}

.nav__history {
  padding-right: 0.5rem;
}

.nav__history:hover {
  cursor: pointer;
}

.nav .active--link {
  color: #ff9b54;
  font-weight: 500;
}

.history {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: #e8ddb5;
  top: 0;
  left: 100%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.history .historyItem {
  padding: 0.5rem;
  border-radius: 73% 27% 100% 0% / 67% 80% 20% 33%;
}

.history .historyItem:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(#5e8a85));
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #5e8a85);
  cursor: pointer;
}

.active--left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.blobs {
  height: 100%;
  width: 100%;
}

.blobs .blobsItem {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blobs .blobsItem path {
  fill: rgba(0, 0, 0, 0.1);
  position: relative;
}

.blobs #blobSvg-0 {
  -webkit-animation-name: blob-grow-0;
          animation-name: blob-grow-0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.93, -0.92, 0.23, 1.97);
          animation-timing-function: cubic-bezier(0.93, -0.92, 0.23, 1.97);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes blob-grow-0 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.0201);
            transform: scale(1.0201);
  }
}

@keyframes blob-grow-0 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.0201);
            transform: scale(1.0201);
  }
}

.blobs #blobSvg-1 {
  -webkit-animation-name: blob-grow-1;
          animation-name: blob-grow-1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.93, -0.92, 0.23, 1.97);
          animation-timing-function: cubic-bezier(0.93, -0.92, 0.23, 1.97);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes blob-grow-1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.0406);
            transform: scale(1.0406);
  }
}

@keyframes blob-grow-1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.0406);
            transform: scale(1.0406);
  }
}

.blobs #blobSvg-2 {
  -webkit-animation-name: blob-grow-2;
          animation-name: blob-grow-2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.93, -0.92, 0.23, 1.97);
          animation-timing-function: cubic-bezier(0.93, -0.92, 0.23, 1.97);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes blob-grow-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.08286);
            transform: scale(1.08286);
  }
}

@keyframes blob-grow-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.08286);
            transform: scale(1.08286);
  }
}

.blobs #blobSvg-3 {
  -webkit-animation-name: blob-grow-3;
          animation-name: blob-grow-3;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.93, -0.92, 0.23, 1.97);
          animation-timing-function: cubic-bezier(0.93, -0.92, 0.23, 1.97);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes blob-grow-3 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.17258);
            transform: scale(1.17258);
  }
}

@keyframes blob-grow-3 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.17258);
            transform: scale(1.17258);
  }
}

.blobs #blobSvg-4 {
  -webkit-animation-name: blob-grow-4;
          animation-name: blob-grow-4;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.93, -0.92, 0.23, 1.97);
          animation-timing-function: cubic-bezier(0.93, -0.92, 0.23, 1.97);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes blob-grow-4 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.37494);
            transform: scale(1.37494);
  }
}

@keyframes blob-grow-4 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.37494);
            transform: scale(1.37494);
  }
}

.blobs #blobSvg-5 {
  -webkit-animation-name: blob-grow-5;
          animation-name: blob-grow-5;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.93, -0.92, 0.23, 1.97);
          animation-timing-function: cubic-bezier(0.93, -0.92, 0.23, 1.97);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes blob-grow-5 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.89046);
            transform: scale(1.89046);
  }
}

@keyframes blob-grow-5 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.89046);
            transform: scale(1.89046);
  }
}

.blobs #blobSvg-6 {
  -webkit-animation-name: blob-grow-6;
          animation-name: blob-grow-6;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.93, -0.92, 0.23, 1.97);
          animation-timing-function: cubic-bezier(0.93, -0.92, 0.23, 1.97);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes blob-grow-6 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(3.57385);
            transform: scale(3.57385);
  }
}

@keyframes blob-grow-6 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(3.57385);
            transform: scale(3.57385);
  }
}

@-webkit-keyframes highlight-button {
  to {
    background: #ff9b54;
  }
}

@keyframes highlight-button {
  to {
    background: #ff9b54;
  }
}
/*# sourceMappingURL=Calc.css.map */