
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand'), url(./fonts/Quicksand-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: local('Quicksand'), url(./fonts/Quicksand-Light.ttf) format('truetype');
}

@font-face {
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
src: local('Quicksand'), url(./fonts/Quicksand-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: bold;
  font-weight: 600;
  src: local('Quicksand'), url(./fonts/Quicksand-SemiBold.ttf) format('truetype');
  }

body {
  margin: 0;
  font-family: 'Quicksand', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}


ol{
  padding: 0;
}
ol>li{
  list-style-type: none;
}

button:focus {
  outline: none;
}

